.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    font-family: Arial, Helvetica, sans-serif;
    position: sticky;
    top: 0;
}


.navbar a {
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


.dropdown {
    position: relative; 
}


.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font: inherit;
    margin: 0;
    cursor: pointer;
}


.navbar a:hover,
.dropdown:hover .dropbtn {
    background-color: #ddd;
    border-radius: 5px;
}


.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;             
    left: 50%;
    transform: translateX(-50%);
    background-color: #f9f9f9;
    width: max-content;
    white-space: nowrap;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.column {
    display: inline-block;
    vertical-align: top;
    width: max-content;
    white-space: nowrap;
    padding: 10px;
    background-color: white;
    height: 250px;
}

.column a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.column a:hover {
    background-color: #ddd;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}
#h1wphoto {
    font-size: 100px;
    font-weight: 900;

    background-image: url("../images/minecraft.jpg");
    background-size: cover;
    background-position: center;

    -webkit-background-clip: text;
    background-clip: text;

    color: transparent;
    -webkit-text-fill-color: transparent;
}